{
  "extends": "eslint-config-egg",
  "rules": {
    "comma-dangle": 0,
    "no-var": 0
  },
  "globals": {
    "app": true,
    "request": true,
    "mm": true,
    "mock": true,
    "assert": true,
  }
}
