.container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  .admin & {
    width: 100%;
    padding: 0 20px;
  }
}
body {
  background: #ededef;
}
.front, .layout {
  height: 100%;
}
.layout {
  // display: flex;
}
#leftside{
  position: fixed;
  top: 0;
  height: 100%;
  overflow: auto;
  width: 240px;
  background: #2f2e2e;
}
#rightside {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  overflow: auto;
  width: 240px;
}
#main {
  overflow: auto;
  margin-left: 240px;
  margin-right: 240px;
}
