.container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  .admin & {
    width: 100%;
    padding: 0 20px;
  }
}

#side {
  position: fixed;
  top: 0;
  height: 100%;
  overflow: auto;
  width: 240px;
  background: #2f2e2e;
}
#main {
  position: absolute;
  left: 240px;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: #ededef;
}
